appdirs==1.4.4
certifi==2022.12.7
distlib==0.3.1
filelock==3.0.12
flake8==3.9.2
mccabe==0.6.1
pipenv==2022.1.8
pycodestyle==2.7.0
pyflakes==2.3.1
pygame==2.0.2
sentry-sdk==1.1.0
six==1.16.0
urllib3>=1.26.5
virtualenv==20.4.7
virtualenv-clone==0.5.4
